body{
	margin: 0;
	background-color: black;
	font-family: 'IBM Plex Mono', monospace;
	color: #4bdd7c;
}
header{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

header img{
	width: 600px;
}
h1{
	color: #4bdd7c;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 70px;
	text-align: center;
}

h2{
	color: #4bdd7c;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 40px;
	text-align: center;
}

h3{
	margin-top: 0px;
	color: #4bdd7c;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 15px;
	font-style: italic;
	text-align: center;
}

main{

	max-width: 800px;
	margin: 0 auto;
	
}

main img{

	width: 800px;
}

footer{
	padding-top: 5px;
	text-align: center;
	color: white;
}

a{
	color: white;
}
a:hover{
	color: #4bdd7c;
}