body{
	background-color: lightgray;
}
h1{
	font-size: 30px;
	color: #0A1E0C;
}
h2{
	font-size: 20px;
	color:#F4FF02;
}
.big{
	font-size: 60px;
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: navy;
}
span{
	color:violet;
}